@import url(https://fonts.googleapis.com/css?family=Manrope:700|Manrope:400);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
:root {
  --text: hsl(0, 0%, 99%);
  --textDim: hsl(0, 0%, 60%);
  --background: hsl(0, 0%, 7%);
  --primary: hsl(155, 100%, 65%);
  --primaryBg: hsla(155, 100%, 65%, 1%);
  --primaryHi: hsla(155, 100%, 75%, 25%);
  --primaryFg: hsl(155, 100%, 85%);
  --secondary: hsl(156, 51%, 14%);
  --secondaryFg: hsl(156, 51%, 75%);
  --secondaryBg: hsla(156, 51%, 14%, 5%);
  --secondaryHi: hsla(156, 51%, 30%, 50%);
  --accent: hsl(155, 100%, 94%);
  --accentBg: hsla(155, 100%, 94%, 1%);
  --accentHi: hsla(155, 100%, 100%, 25%);
  --clr-bg: rgb(51, 65, 85);
  --clr-primary: rgb(3, 28, 68);
  --clr-secondary: rgb(198, 230, 248);
  /**
   * COLORS
   */
  /** Background colors */
  --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --bg-carolina-blue: hsla(199, 89%, 49%, 1);
  --bg-prussian-blue: hsla(216, 33%, 20%, 1);
  --bg-oxford-blue: hsla(222, 44%, 13%, 1);
  --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);
  /** Text colors */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-alice-blue: hsla(216, 100%, 95%, 1);
  --text-columbia-blue: hsla(199, 69%, 84%, 1);
  --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --text-carolina-blue: hsla(199, 89%, 49%, 1);
  --text-shadow-blue: hsla(217, 24%, 59%, 1);
  --text-slate-gray: hsla(217, 17%, 48%, 1);
  /** Gradient colors */
  --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);
  /** Border colors */
  --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --border-prussian-blue: hsla(216, 33%, 20%, 1);
  --border-white: hsl(0, 0%, 100%);
  --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);
  /** Default colors */
  --white: hsl(0, 0%, 100%, 1);
  --black: hsl(0, 0%, 0%, 1);
  /**
   * TYPOGRAPHY
   */
  /** Font family */
  --fontFamily-noto_sans: "Noto Sans", sans-serif;
  /** Font size */
  --fontSize-1: 2.9rem;
  --fontSize-2: 2.0rem;
  --fontSize-3: 1.8rem;
  --fontSize-4: 1.6rem;
  --fontSize-5: 1.5rem;
  --fontSize-6: 1.4rem;
  --fontSize-7: 1.2rem;
  --fontSize-8: 1.3rem;
  /** Font weight */
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;
  --weight-extraBold: 800;
  /** Line height */
  --lineHeight-1: 1.3;
  --lineHeight-2: 1.5;
  --lineHeight-4: 1.5;
  /**
   * BOX SHADOW
   */
  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
  /**
   * BORDER RADIUS
   */
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;
  /**
   * SPACING
   */
  --section-padding: 70px;
  /**
   * TRANSITION
   */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

/*#RESET*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", serif;
}

.clearfix::after, .clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-oxford-blue-2);
  color: var(--text);
  font-family: "Manrope", serif;
  font-size: 1.6rem;
  line-height: var(--lineHeight-4);
  overflow-y: overlay;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

.highlight {
  color: red;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}

.buttonFirst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: 50px;
  width: 160px;
  margin-top: 1rem;
}
.buttonFirst button {
  height: 50px;
  width: 160px;
  clip-path: path("M 0 25 C 0 -5, -5 0, 80 0 S 160 -5, 160 25, 165 50 80 50, 0 55, 0 25");
  border: none;
  border-radius: 13px;
  background-color: var(--primaryBg);
  box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
  color: var(--primaryFg);
  font-family: "Manrope", serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(0px);
  transition: all 0.2s ease;
}
.buttonFirst span {
  width: 100px;
  height: 60px;
  background-color: var(--primaryHi);
  border-radius: 100%;
  filter: blur(20px);
  position: absolute;
  bottom: -50%;
  transition: all 0.2s ease;
}
.buttonFirst:hover > span {
  opacity: 60%;
}
.buttonFirst:hover > button {
  transform: translateY(5px);
}
.buttonFirst .first {
  top: 12%;
  right: 20%;
}

#title {
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: -0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}

#title > p {
  margin: 0;
  line-height: 10rem;
  width: auto;
}

#title > p:nth-child(1) {
  align-self: flex-start;
}

#title > p:nth-child(2) {
  color: var(--primary);
  align-self: flex-end;
}

#title > p:nth-child(3) {
  align-self: flex-end;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
.MailVerification {
  margin-block: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MailVerification .VerificationHeader {
  margin-block: 1rem;
  color: white;
  text-align: center;
}
.MailVerification .card-verification {
  padding: 2rem;
}
.MailVerification .VerificationButton {
  background-image: var(--gradient-2);
  background-size: 200%;
  background-position: left;
  color: var(--text);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-bold);
  transition: var(--transition-1);
  position: relative;
  left: 26rem;
  margin-block: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

#toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background: linear-gradient(90deg, #1f2333, #22232b);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  font-size: 14px;
  color: #333;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#toast.show {
  opacity: 1;
  transform: translateY(0);
}

.notification_modal {
  border-bottom-left-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.error_modal {
  position: fixed;
  background: red;
  color: black;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  right: 0;
  width: 35rem;
  z-index: 100;
  padding: 2rem;
}

/*END----NOTIFICATIONS*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: var(--radius-pill);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-footer {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.25s ease, visibility 0.25s ease;
}

.modal-content {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  top: 8rem;
  max-width: 70rem;
  max-height: 50rem;
  overflow-y: scroll;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
  color: black;
}

.modal-state {
  display: none;
}

/* Show modal when checkbox is checked */
.modal-state:checked + .modal-footer {
  opacity: 1;
  visibility: visible;
}

.container {
  padding-inline: 16px;
}

.hover-1,
.hover-2 {
  transition: var(--transition-1);
}

.hover-1:is(:hover, :focus-visible) {
  color: var(--text-wild-blue-yonder);
  transform: translateX(3px);
}

.hover-2:is(:hover, :focus-visible) {
  color: var(--primary);
}

#NextPage {
  margin-right: 1rem;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 50%;
  width: 3.5rem;
  color: black;
  position: relative;
  right: 0.5rem;
  bottom: 5px;
  transition: 0.2s;
}
#NextPage:hover {
  background-color: white;
}

#CurrentPage {
  margin-right: 1rem;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 50%;
  width: 3.5rem;
  background-color: white;
  color: black;
  position: relative;
  right: 0.5rem;
  bottom: 5px;
}

.TodoSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-form-group, .todo-form-group-status {
  width: 90%;
  margin-top: 2rem;
}

.todo-form-group-status {
  display: flex;
  align-items: center;
}
.todo-form-group-status > * {
  margin-left: 1rem;
}

.todo-form-control {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 2px 20px 2px 10px;
}

.table {
  width: 100%;
  border: 1px solid #EEEEEE;
  margin-block: 5rem;
}

.table-header {
  display: flex;
  width: 100%;
  background: #000;
  padding: 18px 0;
}

.table-row {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 18px 0;
  border-bottom: 1px solid wheat;
}

.table-data, .header__item {
  flex: 1 1 20%;
  text-align: center;
}
.table-data .badge-success, .header__item .badge-success {
  color: green;
}
.table-data .badge-warning, .header__item .badge-warning {
  color: red;
}
.table-data .badge-info, .header__item .badge-info {
  color: silver;
}

.form-control-sm {
  margin-right: 1rem;
}

.table-data-last {
  flex: 1 1 20%;
  text-align: center;
  display: flex;
  align-items: center;
  padding-inline-start: 13rem;
}

.header__item {
  text-transform: uppercase;
}

.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.person .container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.person .container:after {
  background-color: #f2f2f2;
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.person .container:hover {
  transform: scale(0.54);
}
.person .container-inner {
  clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.person .circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.person .img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.person .container:hover .img {
  transform: translateY(0) scale(1.2);
}
.person .img1 {
  left: 22px;
  top: 164px;
  width: 340px;
}
.person .img2 {
  left: -46px;
  top: 174px;
  width: 444px;
}
.person .img3 {
  left: -16px;
  top: 144px;
  width: 466px;
}
.person .divider {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
}
.person .name {
  color: #404245;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.person .title {
  color: #6e6e6e;
  font-family: "Manrope", serif;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}

/*USER PROFILE*/
.resume-wrapper {
  display: flex;
  position: relative;
  text-align: center;
  height: 100%;
  margin-top: 15rem;
  margin-bottom: 12rem;
}

.profile {
  background: #fff;
  width: 65%;
  color: #9099a0;
}
.profile .name-wrapper {
  float: left;
  width: 60%;
  margin-top: 0;
}
.profile h1 {
  font-size: 2.5em;
  text-align: left;
  font-family: "Varela Round", sans-serif;
  color: black;
  line-height: 1em;
}
.profile li {
  margin-bottom: 10px;
}
.profile .picture-resume-wrapper {
  width: 32%;
  display: block;
  float: left;
}
.profile .picture-resume {
  width: 220px;
  height: 220px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 0;
  display: table;
  position: relative;
  vertical-align: middle;
}
.profile .picture-resume span {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
}
.profile .picture-resume img {
  width: 170px;
  z-index: 10;
}
.profile .contact-info {
  margin-top: 50px;
  font-weight: 300;
}
.profile .list-titles {
  float: left;
  text-align: left;
  font-weight: 600;
  width: 18%;
  color: #4a4e51;
}
.profile .list-content {
  float: left;
  width: 60%;
  text-align: left;
  font-weight: 300;
}
.profile .list-content li {
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
  width: 60rem;
}
.profile .contact-presentation {
  text-align: left;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #4a4e51;
}
.profile .contact-presentation .about_me {
  color: black;
  font-weight: 600;
}
.profile svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.profile .st0, .profile .st1 {
  fill: #66cc99;
}

.experience {
  background: #3d3e42;
  width: 60%;
  position: relative;
  color: #9099a0;
  font-weight: 300;
  min-height: 100%;
  min-height: 100vh;
}
.experience h3.experience-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}
.experience .company-wrapper {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
.experience .job-wrapper {
  width: 70%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
.experience .experience-title {
  color: white;
  margin-bottom: 15px;
}

.section-padding {
  padding: 60px 60px 40px 40px;
}

.section-wrapper {
  width: 50%;
  float: left;
  text-align: left;
  color: #9099a0;
  font-weight: 300;
  margin-bottom: 20px;
}
.section-wrapper:nth-child(3) {
  padding-right: 8%;
}
.section-wrapper h3.section-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}
.section-wrapper .skill-percentage {
  margin-bottom: 10px;
  position: relative;
  color: white;
}

.comments {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.comments svg {
  margin: 0 0 0 10px;
  width: 2.5rem;
}

#likeButton.liked {
  color: red;
}

.headline {
  color: var(--text-columbia-blue);
  line-height: var(--lineHeight-1);
  margin-top: 2rem;
}

.headline-1 {
  font-size: var(--fontSize-1);
  color: var(--text-alice-blue);
  font-weight: var(--weight-extraBold);
}

.headline-2 {
  font-size: var(--fontSize-2);
}

.headline-3 {
  font-size: var(--fontSize-2);
  line-height: var(--lineHeight-2);
}

.section-title {
  margin-block-end: 10px;
}

.headline .span {
  background-image: var(--gradient-1);
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn {
  background-image: var(--gradient-2);
  background-size: 200%;
  background-position: left;
  color: var(--white);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-bold);
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: var(--transition-1);
}

.btn:is(:hover, :focus-visible) {
  background-position: right;
}

.btn-primary {
  padding: 8px 16px;
  border-radius: var(--radius-6);
}

.btn-secondary {
  padding: 18px 30px;
  border-radius: var(--radius-pill);
}

.card {
  background-color: var(--bg-oxford-blue);
  border: 1px solid var(--border-prussian-blue);
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  padding-block: var(--section-padding);
}

.section-text {
  font-size: var(--fontSize-3);
  margin-block-end: 70px;
}

.grid-list, .grid-list-category, .language_grid-list {
  display: grid;
  gap: 30px;
  margin-top: 3rem;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-size: var(--fontSize-6);
  margin-block: 20px;
}

.card-wrapper :is(.card-tag, .wrapper) {
  display: flex;
  gap: 3px;
  align-items: center;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
nav .option {
  margin-left: 5rem !important;
}
nav .option #registration-dropdown {
  left: -75px;
}
nav.primary-navigation {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 16px;
}
nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding: 0 7px;
  position: relative;
  text-decoration: none;
}
nav.primary-navigation li a:hover {
  color: var(--primary);
}
nav.primary-navigation li:hover {
  cursor: pointer;
}
nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: -55px;
  display: none;
  background: white;
}
nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 175px;
  padding-top: 10px;
  background: #0F182A;
  border-block: 1px solid var(--bg-prussian-blue);
}
nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  margin-bottom: 10px;
  border-style: none;
}
nav.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}
nav .navbar-bottom-link {
  color: white;
}

.header .btn {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 0;
  z-index: 4;
}

.logo {
  margin-right: 8rem;
}

#header-menu {
  transition: all 0.3s ease-in-out;
  background: rgb(15, 24, 42);
  background: linear-gradient(0deg, rgb(15, 24, 42) 0%, rgb(15, 23, 41) 87%);
  padding-block: 15px;
}

#header-menu.scrolled {
  position: fixed;
  width: 100%;
  background: rgb(15, 24, 42);
  background: linear-gradient(0deg, rgb(15, 24, 42) 0%, rgb(15, 23, 41) 87%);
  box-shadow: var(--shadow-1);
  padding-block: 20px;
}

.header.active {
  padding-block: 8px;
  box-shadow: var(--shadow-1);
  border-block-end: 1px solid var(--bg-prussian-blue);
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.header .container {
  display: flex;
  align-items: center;
}

.nav-open-btn {
  color: var(--text-wild-blue-yonder);
  font-size: 3.5rem;
  position: relative;
}

.nav-close-btn {
  color: var(--text-wild-blue-yonder);
  font-size: 3.5rem;
  position: relative;
  bottom: 55px;
  right: 85px;
}

.navbar {
  position: absolute;
  top: 0;
  right: -340px;
  max-width: 340px;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-oxford-blue-2);
  padding: 30px;
  z-index: 2;
  overflow-y: auto;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  visibility: visible;
  transition: 0.5s var(--cubic-out);
  right: 5px;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 15px;
  margin-block-end: 15px;
  border-block-end: 1px solid var(--border-prussian-blue);
}

.navbar-list {
  border-block-end: 1px solid var(--border-white-alpha-15);
}

.navbar-link {
  color: var(--text-alice-blue);
  font-weight: var(--weight-medium);
  padding-block: 10px;
}

.RegistrationForm {
  margin-block: 15rem;
}
.RegistrationForm .ring {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50rem;
  top: 3rem;
}
.RegistrationForm .ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.RegistrationForm .ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.RegistrationForm .ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.RegistrationForm .ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.RegistrationForm .ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.RegistrationForm .loginFormContainer {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.RegistrationForm .loginFormContainer h2 {
  font-size: 2em;
  color: #fff;
}
.RegistrationForm .loginFormContainer .inputBx {
  position: relative;
  width: 100%;
  padding-block: 1rem;
}
.RegistrationForm .loginFormContainer .inputBx button {
  margin-left: 7.5rem;
  padding-inline: 6rem;
  padding-block: 1.3rem;
}
.RegistrationForm .loginFormContainer .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.RegistrationForm .loginFormContainer .inputBx input[type=submit] {
  background: linear-gradient(45deg, #ff357a, #fff172);
  border: none;
  cursor: pointer;
}
.RegistrationForm .loginFormContainer .inputBx input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.RegistrationForm .loginFormContainer .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.RegistrationForm .loginFormContainer .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.RegistrationForm .loginFormContainer .links a, .RegistrationForm .loginFormContainer .links button, .RegistrationForm .loginFormContainer .links input[type=checkbox] {
  color: #fff;
  text-decoration: none;
  margin-right: 2rem;
}

/*-----------------------------------*\
  #POPULAR TAGS
\*-----------------------------------*/
.grid-list-category {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 32rem;
  border: 1.7px solid var(--primary);
  border-radius: 5px;
  padding: 2rem 2rem 2rem 4rem;
  box-shadow: var(--shadow-2);
  background-clip: padding-box, border-box;
  transform: translateY(-2px);
  transition: var(--transition-1);
}

.tags .grid-list .grid-list-category {
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}

.tag-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-radius: var(--radius-16);
  font-size: 15px;
}

.tag-btn:is(:hover, :focus-visible) {
  background-image: linear-gradient(var(--primary), hsl(187.75, 73.78%, 20.39%)), var(--gradient-1);
  background-clip: padding-box, border-box;
  transform: translateY(-2px);
  transition: var(--transition-2);
}

.tag-btn img {
  width: 100%;
  max-width: 32px;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
.hero-bg {
  display: none;
}

.hero {
  padding-block-start: calc(var(--section-padding) + 160px);
}
.hero .container {
  display: grid;
}
.hero .section-title {
  margin-block: 20px;
}
.hero .hero-text {
  margin-block-end: 40px;
  color: aliceblue;
  font-size: 2rem;
  width: 45rem;
}
.hero .input-wrapper:hover {
  box-shadow: var(--shadow-2);
}
.hero .input-wrapper {
  position: relative;
  padding: 10px;
  padding-inline-start: 20px;
  background-color: var(--bg-prussian-blue);
  border-radius: var(--radius-6);
  border: 1px solid var(--bg-carolina-blue);
  display: flex;
  justify-items: flex-end;
  transition: var(--transition-1);
}
.hero .input-field {
  padding-inline-end: 5px;
}
.hero .hero-banner {
  position: relative;
  right: 5rem;
}
.hero .hero-banner .w-100 {
  max-width: -moz-max-content;
  max-width: max-content;
  margin-inline: auto;
}
.hero .search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.countdown {
  --number-color: hsl(0 0% 100%);
  --text-color: hsl(0 0% 25%);
  --dot-color: hsl(0 0% 10%);
  --dot-color-remaining: var(--primary);
  --dot-color-active: hsl(0 100% 50%);
  font-family: system-ui, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: min(60rem, 100%);
  container: inline-size;
}
.countdown > .part {
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}
.countdown > .part > .remaining {
  grid-area: 1/1;
  color: hsl(0, 0%, 100%);
  display: grid;
  text-align: center;
  font-size: 4rem;
}
.countdown > .part > .remaining > .number {
  color: var(--number-color);
}
.countdown > .part > .remaining > .text {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 0.5em;
}
.countdown > .part > .dot-container {
  grid-area: 1/1;
  height: 100%;
  width: 4%;
  rotate: calc(360deg / var(--dots) * var(--dot-idx));
}
.countdown > .part > .dot-container > .dot {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--dot-color);
  border-radius: 50%;
  transition: background-color 0.25s;
}
.countdown > .part > .dot-container > .dot[data-active=true] {
  background-color: var(--dot-color-remaining);
}
.countdown > .part > .dot-container > .dot[data-active=true][data-lastactive=true] {
  background-color: var(--dot-color-active);
}

.timer {
  font-family: system-ui, sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  display: flex;
}
.timer span:last-of-type {
  color: hsl(182, 100%, 66%);
  margin-left: 1rem;
}

.Reviews {
  display: flex;
}
.Reviews div {
  margin-left: 1rem;
}

.celebration {
  position: relative;
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
  background-color: var(--clr-secondary);
  width: 280px;
  height: 150px;
  line-height: 0;
  border-radius: 15px;
  margin-top: 2rem;
}
.celebration::before {
  content: "";
  position: absolute;
  inset: auto -300px;
  height: 1.5rem;
  background: radial-gradient(circle, var(--clr-primary) 0%, transparent 25%);
  translate: 0 0.35rem;
}
.celebration h1 {
  font-size: 10rem;
  font-weight: 700;
  z-index: 1;
  filter: drop-shadow(4px 4px 0 rgb(231, 139, 139)) hue-rotate(180deg);
  color: #0F1729;
}
.celebration h2 {
  font-size: 1rem;
  letter-spacing: 0.9rem;
  background: var(--clr-secondary);
  left: 0;
  padding: 0.85rem 0 0.85rem 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  z-index: 2;
  text-align: center;
  width: 100%;
  color: #0F1729;
}
.celebration svg {
  position: relative;
  color: var(--clr-primary);
  bottom: 6rem;
  width: 4rem;
  height: 4rem;
  background-color: var(--clr-secondary);
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.05);
}
.celebration .smiling-face path {
  stroke-dasharray: 20; /* Length of the path */
  stroke-dashoffset: 20; /* Start with hidden smile */
  animation: drawSmile 2s ease-out forwards; /* Animate drawing */
}
@keyframes drawSmile {
  0% {
    stroke-dashoffset: 20; /* Start hidden */
  }
  100% {
    stroke-dashoffset: 0; /* Fully drawn */
  }
}

.celebration > * {
  position: relative;
  grid-area: stack;
}

#celebration_text {
  margin-top: 11.4rem;
  margin-right: 1.25rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
}

/*-----------------------------------*\
  #Books
\*-----------------------------------*/
.Books h2, .Books p {
  text-align: center;
}
.Books .BooksContainer {
  display: flex;
  justify-content: center;
  margin-block: 8rem;
}
.Books .BooksContainer .book-card {
  width: 280px;
  padding: 16px;
  border-radius: 5px;
  background-image: url(/images/shadow1.svg);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-inline: 3rem;
  height: -moz-fit-content;
  height: fit-content;
}
.Books .BooksContainer .book-card .book-card__cover {
  width: 110px;
  height: 180px;
  margin: 0 auto 8px auto;
  perspective: 1000px;
}
.Books .BooksContainer .book-card .book-card__book {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 250ms ease;
}
.Books .BooksContainer .book-card .book-card__book-front {
  position: absolute;
  height: 100%;
}
.Books .BooksContainer .book-card .book-card__book-back {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateZ(-40px);
}
.Books .BooksContainer .book-card .book-card__book-side {
  position: absolute;
  top: 5px;
  bottom: 2px;
  right: -29px;
  width: 40px;
  background-size: 5px;
  background-color: #e1e1e1;
  background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
  opacity: 0;
  transform: rotate3d(0, 1, 0, 90deg);
}
.Books .BooksContainer .book-card .book-card__img {
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
}
.Books .BooksContainer .book-card .book-card__title {
  font-size: 1em;
}
.Books .BooksContainer .book-card .book-card__author {
  color: #a0a0a0;
  font-size: 1em;
}
.Books .BooksContainer .book-card:hover .book-card__book {
  transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}
.Books .BooksContainer .book-card:hover .book-card__book-back {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}
.Books .BooksContainer .book-card:hover .book-card__book-side {
  opacity: 1;
}
.Books .BooksContainer .book-card .reaction_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Books .BooksContainer .book-card .book-card_description a:hover {
  color: var(--primary);
  transition: var(--transition-2);
}

.GenresContainer {
  display: flex;
  flex-direction: column;
  margin-block: 14rem;
}
.GenresContainer .top {
  position: relative;
  display: flex;
}
.GenresContainer .input-container {
  position: relative;
  flex: 1;
}
.GenresContainer #stats {
  z-index: 1;
  position: absolute;
  top: 4.3em;
  right: 0.6em;
  font-size: 0.8em;
  color: white;
}
.GenresContainer .content {
  display: flex;
  margin-top: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.GenresContainer .canvas {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
}
.GenresContainer #hits {
  flex: 1;
}
.GenresContainer #genres li {
  display: flex;
  border-bottom: 1px solid dodgerblue;
  margin-block: 5px;
}
.GenresContainer .ais-hits {
  display: flex;
  flex-wrap: wrap;
}
.GenresContainer .ais-hits__empty {
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  color: white;
}
.GenresContainer .ais-hits--item {
  flex: 1 0 25%;
  min-width: 380px;
}
.GenresContainer .movie {
  position: relative;
  display: flex;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1em;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}
.GenresContainer .movie-image {
  flex-shrink: 0;
  height: 190px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.1);
}
.GenresContainer .movie-meta {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
.GenresContainer .movie-title {
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;
}
.GenresContainer .movie-title em {
  color: rgb(0, 150, 230);
  background: rgba(0, 160, 220, 0.2);
}
.GenresContainer .DownloadButton {
  background-color: var(--action-color);
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  border: none;
  border-radius: 4px;
  height: 32px;
  padding: 0 16px;
  margin-top: 1rem;
  transition: 0.2s;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
}
.GenresContainer .movie-year {
  font-size: 0.8em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
}
.GenresContainer .movie-rating {
  margin-top: 0.2em;
}
.GenresContainer .movie-genres {
  font-size: 0.8em;
  margin-top: 0.7em;
  margin-right: -0.4em;
  margin-bottom: -0.4em;
}
.GenresContainer .movie-genre {
  color: rgba(0, 0, 0, 0.7);
  padding: 0.4em 0.6em;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 0.4em;
  margin-bottom: 0.4em;
}
.GenresContainer ul.ais-pagination {
  padding: 0;
  margin: 0;
}
.GenresContainer #pagination {
  margin: 10px 0;
  text-align: center;
}
.GenresContainer .ais-pagination--item {
  margin: 0 0.2em;
}
.GenresContainer .ais-pagination--link {
  font-size: 1.2em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}
.ais-pagination--item__active .GenresContainer .ais-pagination--link {
  font-weight: bold;
  color: rgba(0, 100, 220, 0.6);
}
.GenresContainer .facets {
  width: 25%;
  min-width: 270px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-color: gainsboro;
}
.GenresContainer .facet {
  padding: 1em 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  color: black;
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* Optional: Slim scrollbar for modern browsers */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); /* Optional: Custom scrollbar colors */
}
.GenresContainer .facet::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}
.GenresContainer .facet::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Scrollbar color */
  border-radius: 4px; /* Rounded corners */
}
.GenresContainer .facet::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Background of the scrollbar track */
}
.GenresContainer .facet-title {
  padding: 0 1em;
  font-size: 1.1em;
  margin-bottom: 0.6em;
}

/*-----------------------------------*\
  #RECENT POST
\*-----------------------------------*/
.recent-post .container {
  display: grid;
  gap: 50px;
}

.recent-post-card {
  display: grid;
  gap: 30px;
}

.recent-post-card .card-banner {
  border-radius: var(--radius-16);
  transition: var(--transition-1);
}

.recent-post-card:is(:hover, :focus-within) .card-banner {
  transform: translateY(-2px);
}

.recent-post-card .card-text {
  color: var(--text-wild-blue-yonder);
  font-size: var(--fontSize-6);
  line-height: var(--lineHeight-1);
}

.recent-post-card .card-badge {
  background-color: var(--bg-prussian-blue);
  max-width: -moz-max-content;
  max-width: max-content;
  color: var(--text-white);
  font-size: var(--fontSize-8);
  font-weight: var(--weight-bold);
  padding: 4px 15px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
}

.recent-post-card .card-badge:is(:hover, :focus-visible),
.pagination-btn:is(:hover, :focus-visible) {
  transform: translateY(-2px);
  background-color: var(--bg-carolina-blue);
}

.recent-post-card .card-title {
  margin-block: 15px 20px;
}

.recent-post-card .card-tag {
  gap: 15px;
  color: var(--text-slate-gray);
}

.recent-post-card .card-wrapper ion-icon {
  font-size: 1.8rem;
  --ionicon-stroke-width: 40px;
}

.pagination-btn {
  background-color: var(--bg-prussian-blue);
  color: var(--text-white);
  font-weight: var(--weight-bold);
  line-height: 1;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
  margin-right: 1rem;
  margin-left: 1rem;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-block-start: 60px;
}

.dropdown {
  position: relative;
  left: 18rem;
  z-index: 20;
}
.dropdown__face {
  padding: 0 0 0 25px;
}
.dropdown__items {
  padding: 0 0 0 15px;
}
.dropdown__face {
  cursor: pointer;
  display: block;
  position: relative;
}
.dropdown__items {
  margin: 0;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  list-style: none;
  list-style-type: none;
  justify-content: space-between;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.dropdown__arrow {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  top: 35%;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}
.dropdown input {
  display: none;
}
.dropdown input:checked ~ .dropdown__items {
  top: calc(100% + 10px);
  visibility: visible;
  opacity: 1;
  background-color: #0F3448;
  border-radius: 4px;
  width: 140px;
  -moz-columns: 1;
  columns: 1;
}
.dropdown input:checked ~ .dropdown__items .card-title {
  color: var(--text-alice-blue);
  font-size: 20px;
}
.dropdown .header_settings {
  font-size: 3rem;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
footer {
  width: 100%;
}

.footer {
  padding-inline: 20px;
  color: var(--text-wild-blue-yonder);
}

.footer-top {
  display: grid;
  gap: 20px;
}

.footer-brand .footer-text {
  font-size: var(--fontSize-3);
}

.footer-text:not(.address) {
  margin-block: 20px;
}

.footer-brand .footer-list-title {
  margin-block-end: 2px;
}

.footer-list-title {
  color: var(--text-columbia-blue);
  font-size: var(--fontSize-3);
  margin-block-end: 30px;
}

.footer-list ul {
  -moz-columns: 1;
       columns: 1;
}
.footer-list ul li {
  margin-block: 1rem;
  cursor: pointer;
}
.footer-list ul label {
  cursor: pointer;
}

.footer-link {
  margin-block-end: 12px;
}

.footer .input-wrapper {
  position: relative;
  margin-block-end: 24px;
}

.footer .input-field {
  padding: 12px;
  padding-inline-start: 20px;
  border-block-end: 1px solid var(--text-wild-blue-yonder);
  font-size: var(--fontSize-6);
}

.footer .input-field::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

.footer .input-wrapper ion-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  --ionicon-stroke-width: 40px;
}

.footer-bottom {
  border-block-start: 1px solid var(--border-prussian-blue);
  padding-block: 10px;
}

.copyright {
  text-align: center;
  margin-block-end: 15px;
}

.copyright-link {
  display: inline-block;
  color: var(--text-carolina-blue);
  font-style: italic;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: var(--transition-1);
  font-size: 2.3rem;
}

.social-link-other {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
  color: var(--text-carolina-blue);
  transform: translateY(-2px);
}

.social-link-other:is(:hover, :focus-visible) {
  color: var(--text-carolina-blue);
  transform: translateY(-2px);
}

.changeLang {
  padding: 1rem;
  background: none;
  color: white;
  border-radius: 2rem;
  border: 1px solid steelblue;
  cursor: pointer;
}
.changeLang option {
  color: black;
  cursor: pointer;
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/
.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--bg-prussian-blue);
  color: var(--white);
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  border: 3px solid var(--bg-carolina-blue);
  transition: var(--transition-1);
  visibility: hidden;
  opacity: 0;
  z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) {
  box-shadow: var(--shadow-2);
}

.back-top-btn.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}

.page_header {
  position: relative;
  top: 18rem;
  margin-left: 12rem;
}

.LanguageSection {
  margin-top: 12rem;
}
.LanguageSection article {
  width: 100%;
  max-width: 1000px;
}
.LanguageSection article header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 400px;
  padding: 50px;
  border-radius: 16px;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.LanguageSection article .card {
  border: none;
  box-shadow: 0 0 3px 0;
  border-radius: 5px;
  margin: 2rem 0 0 0;
  padding: 0;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 30rem;
  height: 4rem;
  display: flex;
}

.ag-courses_box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 0;
}

.ag-courses_item {
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 40px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
  height: 20rem;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 100px;
  overflow: hidden;
  font-weight: bold;
  font-size: 17px;
  color: #FFF;
  z-index: 2;
  position: relative;
  bottom: 1rem;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;
  z-index: 2;
  position: absolute;
  bottom: 5rem;
  left: 14rem;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  transition: color 0.5s ease;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.AuthorsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

.select {
  position: relative;
  min-width: 200px;
}

.select svg {
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  height: 6px;
  left: 26rem;
  pointer-events: none;
  position: absolute;
  top: calc(50% - 3px);
  width: 10px;
}
.select select {
  -webkit-appearance: none;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  left: 18rem;
  padding: 7px 40px 7px 5px;
  position: relative;
  transition: all 0.15s ease;
  width: 55%;
}
.select select:required:invalid {
  color: #5a667f;
}
.select select option {
  color: #223254;
  cursor: pointer;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
.select select:hover + svg {
  stroke: #07f;
}
.select .sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes typing {
  0%, 75%, 100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}
